
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KiCad BOM Example 5</title>
    </head>
    <body>
    <h1>/home/jeroen/pcb/magicbrush/magicbrush/magicbrush.sch</h1>
    <p>Sat 10 Nov 2018 03:48:16 PM CST</p>
    <p>Eeschema 5.0.1+dfsg1-3</p>
    <p><b>Component Count:</b>167</p>
    <table>
    <tr><th style='width:640px'>Ref</th><th>Qnty</th><th>Value</th><th>Part</th><th>Footprint</th><th>Description</th><th>Vendor</th></tr>
    <tr><td>C1, C3, C5, C7, C9, C10, C12, C14, C16, C18, C19, C20, C22, C24, C25, C29, C30, C31, C32</td><td>19</td><td>100n</td><td>Device:C</td><td>Capacitor_SMD:C_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>C2, C4, C11, C13</td><td>4</td><td>22u</td><td>Device:C</td><td>Capacitor_SMD:C_0805_2012Metric_Pad1.15x1.40mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>C6, C23</td><td>2</td><td>1u</td><td>Device:C</td><td>Capacitor_SMD:C_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>C8</td><td>1</td><td>22uF</td><td>Device:C</td><td>Capacitor_SMD:C_0805_2012Metric_Pad1.15x1.40mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>C17, C21, C26</td><td>3</td><td>4u7</td><td>Device:C</td><td>Capacitor_SMD:C_0805_2012Metric_Pad1.15x1.40mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>C27, C28</td><td>2</td><td>10n</td><td>Device:C</td><td>Capacitor_SMD:C_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Unpolarized capacitor</td><td></td></tr>
    <tr><td>D1, D2</td><td>2</td><td>SS24</td><td>Device:D</td><td>Diode_SMD:D_SMB_Handsoldering</td><td>Diode</td><td></td></tr>
    <tr><td>D3, D4</td><td>2</td><td>LED</td><td>Device:LED</td><td>LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Light emitting diode</td><td></td></tr>
    <tr><td>D5</td><td>1</td><td>LED WH</td><td>Device:LED</td><td>LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Light emitting diode</td><td></td></tr>
    <tr><td>DISP1</td><td>1</td><td>LCD_LH096T</td><td>jeroens_components:LCD_LH096T</td><td>JeroensFootprints:LCD_LH086T</td><td>LH096T 160*80 color LCD</td><td></td></tr>
    <tr><td>J1</td><td>1</td><td>Conn_01x02_Male</td><td>Connector:Conn_01x02_Male</td><td>Connector_PinHeader_2.54mm:PinHeader_1x02_P2.54mm_Vertical</td><td>Generic connector, single row, 01x02, script generated (kicad-library-utils/schlib/autogen/connector/)</td><td></td></tr>
    <tr><td>J2</td><td>1</td><td>USB_B_Micro</td><td>Connector:USB_B_Micro</td><td>JeroensFootprints:USB_Micro-B_0.8mm_taobao</td><td>USB Micro Type B connector</td><td></td></tr>
    <tr><td>J3</td><td>1</td><td>Conn_01x05_Male</td><td>Connector:Conn_01x05_Male</td><td>Connector_PinHeader_2.54mm:PinHeader_1x05_P2.54mm_Vertical</td><td>Generic connector, single row, 01x05, script generated (kicad-library-utils/schlib/autogen/connector/)</td><td></td></tr>
    <tr><td>J4</td><td>1</td><td>Conn_01x16_Female</td><td>Connector:Conn_01x16_Female</td><td>JeroensFootprints:HP_803_CART</td><td>Generic connector, single row, 01x16, script generated (kicad-library-utils/schlib/autogen/connector/)</td><td></td></tr>
    <tr><td>L1, L2</td><td>2</td><td>10uH WHC0630-100</td><td>Device:L</td><td>JeroensFootprints:IND_WHC0630</td><td>Inductor</td><td></td></tr>
    <tr><td>NT1</td><td>1</td><td>Net-Tie_2</td><td>Device:Net-Tie_2</td><td>NetTie:NetTie-2_THT_Pad0.3mm</td><td>Net tie, 2 pins</td><td></td></tr>
    <tr><td>Q1, Q2, Q5, Q6</td><td>4</td><td>AO3400</td><td>jeroens_components:AO3400</td><td>Package_TO_SOT_SMD:SOT-23</td><td>30V, 5.8A N-channel mosfet (Vgs,th=2V)</td><td></td></tr>
    <tr><td>Q3, Q4</td><td>2</td><td>AO3401</td><td>jeroens_components:AO3401</td><td>Package_TO_SOT_SMD:SOT-23</td><td>-30V Vds, -4A Id, P-Channel MOSFET, SOT-23-3</td><td></td></tr>
    <tr><td>R1</td><td>1</td><td>120K</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R2, R7, R10, R11, R12, R13, R16, R17, R22, R23</td><td>10</td><td>10K</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R3</td><td>1</td><td>68K</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R4, R5</td><td>2</td><td>1R</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R6, R8, R18, R19, R20, R21</td><td>6</td><td>1K</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R9</td><td>1</td><td>1K2</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R14, R15</td><td>2</td><td>68R</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>R24, R25, R26, R27</td><td>4</td><td>0R</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric_Pad1.05x0.95mm_HandSolder</td><td>Resistor</td><td></td></tr>
    <tr><td>R28, R29</td><td>2</td><td>3K3</td><td>Device:R</td><td>Resistor_SMD:R_0603_1608Metric</td><td>Resistor</td><td></td></tr>
    <tr><td>SW1, SW2</td><td>2</td><td>SW_Push</td><td>Switch:SW_Push</td><td>Button_Switch_THT:SW_PUSH_6mm</td><td>Push button switch, generic, two pins</td><td></td></tr>
    <tr><td>U1, U2</td><td>2</td><td>XR2203</td><td>jeroens_components:XR2203</td><td>Package_TO_SOT_SMD:SOT-23-5</td><td>1.2MHz, 26V, 2.8A step-up DC/DC converter</td><td></td></tr>
    <tr><td>U3</td><td>1</td><td>TP4056</td><td>jeroens_components:TP4056</td><td>Package_SO:SOIC-8-1EP_3.9x4.9mm_P1.27mm_EP2.35x2.35mm</td><td>1A LiIon battery charger</td><td></td></tr>
    <tr><td>U4</td><td>1</td><td>HT7833_SOT89</td><td>jeroens_components:HT7833_SOT89</td><td>Package_TO_SOT_SMD:SOT-89-3</td><td></td><td></td></tr>
    <tr><td>U5</td><td>1</td><td>ESP-WROVER32</td><td>jeroens_components:ESP-WROVER32</td><td>JeroensFootprints:ESP-WROVER-MOD</td><td>ESP-Wrover32</td><td></td></tr>
    <tr><td>U6, U9, U11</td><td>3</td><td>VL53L0X</td><td>jeroens_components:VL53L0X</td><td>JeroensFootprints:VL53LxX</td><td>VL53L0X ToF distance sensor</td><td></td></tr>
    <tr><td>U7</td><td>1</td><td>TCS3472</td><td>jeroens_components:TCS3472</td><td>JeroensFootprints:DFNL_FN_TCS3472</td><td>RGB color sensor, I2C</td><td></td></tr>
    <tr><td>U8</td><td>1</td><td>TCA9534</td><td>Interface_Expansion:TCA9534</td><td>Package_SO:TSSOP-16_4.4x5mm_P0.65mm</td><td>8 Bit Port/Expander, I2C SMBUS, Interrupt output, TSSOP-16, SOIC-20</td><td></td></tr>
    <tr><td>U10</td><td>1</td><td>MPU-9250</td><td>Sensor_Motion:MPU-9250</td><td>Package_DFN_QFN:QFN-24_3x3mm_P0.4mm</td><td>InvenSense 9-Axis Motion Sensor, Accelerometer, Gyroscope, Compass, I2C/SPI</td><td></td></tr>
    <tr><td>U12, U13</td><td>2</td><td>MC14504B</td><td>jeroens_components:MC14504B</td><td>Package_SO:SOIC-16_3.9x9.9mm_P1.27mm</td><td>Hex Level Shifter For TTL to CMOS or CMOS to CMOS</td><td></td></tr>
    <tr><td>X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X31, X32, X33, X34, X35, X36, X37, X38, X39, X40, X41, X42, X43, X44, X45, X46, X49, X50, X51, X52, X53, X54, X55, X56, X59, X60, X61, X62, X63, X64, X65, X66, X67, X68</td><td>54</td><td>wire_pad</td><td>jeroens_components:wire_pad</td><td>JeroensFootprints:wire_pad_0.5mm</td><td>wire_pad</td><td></td></tr>
    <tr><td>X11, X12, X23, X24, X25, X26, X27, X28, X29, X30, X47, X48, X57, X58</td><td>14</td><td>wire_pad</td><td>jeroens_components:wire_pad</td><td>JeroensFootprints:wire_pad_1mm</td><td>wire_pad</td><td></td></tr><!--TABLEROW-->
    </table>
    </body>
</html>
    
